<!-- 4. $MAIN_MENU =================================================================================

		Main menu
		
		Notes:
		* to make the menu item active, add a class 'active' to the <li>
		  example: <li class="active">...</li>
		* multilevel submenu example:
			<li class="mm-dropdown">
			  <a href="#"><span class="mm-text">Submenu item text 1</span></a>
			  <ul>
				<li>...</li>
				<li class="mm-dropdown">
				  <a href="#"><span class="mm-text">Submenu item text 2</span></a>
				  <ul>
					<li>...</li>
					...
				  </ul>
				</li>
				...
			  </ul>
			</li>
-->
	<div id="main-menu" role="navigation">
		<div id="main-menu-inner">
			<div class="menu-content top" id="menu-content-demo">
				<!-- Menu custom content demo
					 CSS:        styles/pixel-admin-less/demo.less or styles/pixel-admin-scss/_demo.scss
					 Javascript: html/assets/demo/demo.js
				 -->
				<div>
          <div class="text-bg"><span class="text-semibold"><%= current_user.name %></span></div>

					<img src="<%= current_user.avatar %>" alt="" class="">
          <br />
          <!--<div class="btn-group">
						<a href="#" class="btn btn-xs btn-primary btn-outline dark"><i class="fa fa-envelope"></i></a>
						<a href="#" class="btn btn-xs btn-primary btn-outline dark"><i class="fa fa-user"></i></a>
						<a href="#" class="btn btn-xs btn-primary btn-outline dark"><i class="fa fa-cog"></i></a>
						<a href="#" class="btn btn-xs btn-danger btn-outline dark"><i class="fa fa-power-off"></i></a>
					</div>-->
					<a href="#" class="close">&times;</a>
				</div>
			</div>
			<ul class="navigation">
				<li>
          <%= link_to user_dashboard_path do %>
            <i class="menu-icon fa fa-dashboard"></i><span class="mm-text">Dashboard</span>
          <% end %>
				</li>
				<li>
          <%= link_to jobs_maps_path do %>
            <i class="menu-icon glyphicon glyphicon-thumbs-up"></i><span class="mm-text">Opportunities</span><span class="label label-warning">Updated</span>
          <% end %>
        </li>
        <li>
          <%= link_to user_profile_path(current_user.id) do %>
            <i class="menu-icon glyphicon glyphicon-user"></i><span class="mm-text">My Profile</span>
          <% end %>
        </li>
        <li>
          <%= link_to user_maps_path do %>
            <i class="menu-icon glyphicon glyphicon-star"></i><span class="mm-text">Developers</span>
          <% end %>  
        </li>
				<li>
					<a href="widgets.html"><i class="menu-icon glyphicon glyphicon-envelope"></i><span class="mm-text">Messages</span><span class="label label-success">16</span></a>
				</li>
        <li>
					<%= link_to events_maps_path do %>
            <i class="menu-icon fa fa-table"></i><span class="mm-text">Events</span>
          <% end %>
				</li>
				<li class="mm-dropdown">
					<a href="#"><i class="menu-icon fa fa-desktop"></i><span class="mm-text">Resources</span></a>
					<ul>
						<li>
							<a tabindex="-1" href="ui-buttons.html"><span class="mm-text">Development</span></a>
						</li>
						<li>
							<a tabindex="-1" href="ui-typography.html"><span class="mm-text">Design</span></a>
						</li>
						<li>
							<a tabindex="-1" href="ui-tabs.html"><span class="mm-text">Marketing</span></a>
						</li>
						<li>
							<a tabindex="-1" href="ui-modals.html"><span class="mm-text">Business</span></a>
						</li>
						<li>
							<a tabindex="-1" href="ui-alerts.html"><span class="mm-text">Submit</span></a>
						</li>
					</ul>
				</li>
				<li>
					<a href="complete-ui.html"><i class="menu-icon fa fa-briefcase"></i><span class="mm-text">Groups</span></a>
				</li>
			</ul> <!-- / .navigation -->
			<div class="menu-content">
				<a href="pages-invoice.html" class="btn btn-primary btn-block btn-outline dark">Account Settings</a>
			</div>
		</div> <!-- / #main-menu-inner -->
	</div> <!-- / #main-menu -->
<!-- /4. $MAIN_MENU -->